<!-- Begin page content -->
<main role="main" class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-5">
            <li class="breadcrumb-item active" aria-current="page">Events</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-4 mt-2 mb-2" *ngFor="let event of eventsList">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ event.event_name }}</h5>
                </div>
                <div class="card-body">
                    <a routerLink="/events/{{ event.id }}">
                        <img src="{{ event.event_img }}" height="250" width="310">
                        <p class="card-text">{{ event.event_title }}</p>
                    </a>
                    <p class="card-title">Event At : {{ event.event_date | date:'MM/dd/yyyy' }}</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/events/{{ event.id }}" class="btn btn-primary">View Detail</a>
                </div>
            </div>
        </div>
    </div>
</main>