<!-- Begin page content -->
<main role="main" class="container">
    <div class="row">
        <div class="mx-auto col-sm-6 mt-5">
            <div class="alert" [ngClass]="alertClass" *ngIf="alertIsTrue" role="alert">
                {{ alertMsg }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User Registration</h5>
                </div>
                <div class="card-body">
                    <form name="registerForm" (ngSubmit)="frm.valid && registerSubmit()" #frm="ngForm" novalidate>
                        <div class="form-group">
                            <label>First Name</label>
                            <input name="firstName" type="text" [(ngModel)]="registerFormData.firstName"
                                #firstName="ngModel" [ngClass]="{ 'is-invalid': frm.submitted && firstName.invalid }"
                                required class="form-control" placeholder="Enter first name">
                            <div *ngIf="frm.submitted && firstName.invalid" class="invalid-feedback">
                                <div *ngIf="firstName.errors.required">The first name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input name="lastName" type="text" [(ngModel)]="registerFormData.lastName"
                                #lastName="ngModel" [ngClass]="{ 'is-invalid': frm.submitted && lastName.invalid }"
                                required class="form-control" placeholder="Enter last name">
                            <div *ngIf="frm.submitted && lastName.invalid" class="invalid-feedback">
                                <div *ngIf="lastName.errors.required">The last name is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input name="email" type="email" [(ngModel)]="registerFormData.email" #email="ngModel"
                                [ngClass]="{ 'is-invalid': frm.submitted && email.invalid }" required email
                                class="form-control" placeholder="Enter email address">
                            <div *ngIf="frm.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">The email address is required</div>
                                <div *ngIf="email.errors.email">The email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password" [(ngModel)]="registerFormData.password"
                                #password="ngModel" [ngClass]="{ 'is-invalid': frm.submitted && password.invalid }"
                                required class="form-control" placeholder="Enter password">
                            <div *ngIf="frm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors.required">The password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success float-right">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>